{% extends 'base.html.twig' %}

{% set title = 'Import report' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    <a href="{{ path('invoices') }}">Back</a>

    <div>
        {% include 'invoice/include/upload_invoices_sheet_form.html.twig' with { uploadInvoicesSheetForm: uploadInvoicesSheetForm } only %}
    </div>

    <hr/>

    {% if importReport is not empty %}
        <p>Added: {{ importReport.numberOfSuccessfulImportedInvoices }}</p>
        <p>Errors: {{ importReport.failureMessages|length }}</p>

        {% if importReport.failureMessages is not empty %}
            <ul>
                {% for message in importReport.failureMessages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}
