{% extends 'base.html.twig' %}

{% set title = 'Invoices' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    <div>
        {% include 'invoice/include/upload_invoices_sheet_form.html.twig' with { uploadInvoicesSheetForm: uploadInvoicesSheetForm } only %}
    </div>

    <hr/>

    {% if invoices is not empty %}
        <table border="1">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Due on</th>
                    <th scope="col">Uploaded on</th>
                    <th scope="col">Sell price</th>
                </tr>
            </thead>
            <tbody>
                {% set dateFormat = 'm/d/Y' %}

                {% for invoice in invoices %}
                    <tr>
                        <td>{{ invoice.id }}</td>
                        <td>{{ invoice.amount|money }}</td>
                        <td>{{ invoice.dueOn|date(dateFormat) }}</td>
                        <td>{{ invoice.uploadedOn|date(dateFormat) }}</td>
                        <td>{{ invoice.sellPrice|money }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
